<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BestForumEver</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8ff231d778.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/indexAfterLogin.html">BFE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/newpost.html">New post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts.html">My posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin.html">Admin page</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main style="margin-top: 2%" class="container">
    <div class="row">
        <div class="col-10">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th style="width: 35%" scope="col">&nbsp;</th>
                    <th style="width: 60%" scope="col">&nbsp;</th>
                    <th style="width: 5%" scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>My favorite breakfast</td>
                    <td>first X character of the post will be here to get your attention...........</td>
                    <td>
                        <a href="/openedpost.html" class="btn btn-sm btn-link">Open</a>
                    </td>
                </tr>
                <tr>
                    <td>How to train ducks to be cold blooded killers</td>
                    <td>first X character of the post will be here to get your attention...........</td>
                    <td>
                        <a href="/openedpost.html" class="btn btn-sm btn-link">Open</a>
                    </td>
                </tr>
                <tr>
                    <td>oldest elephant ever</td>
                    <td>first X character of the post will be here to get your attention...........</td>
                    <td>
                        <a href="/openedpost.html" class="btn btn-sm btn-link">Open</a>
                    </td>
                </tr>
                <tr>
                    <td>title1234</td>
                    <td>first X character of the post will be here to get your attention...........</td>
                    <td>
                        <a href="/openedpost.html" class="btn btn-sm btn-link">Open</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2" style="background-color: papayawhip">
            <br>
            <br>

            <a class="btn btn-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" >CLICK HERE <BR> FREE IPHONE!!!!!!!</a>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>